<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local" value="http://host.docker.internal:5555/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceCredentials>
    <local>
      <add key="Username" value="your-username" />
      <add key="ClearTextPassword" value="Secret123" />
    </local>
  </packageSourceCredentials>
</configuration>
